@import "../../styles/base";

.PAGINATION {
  padding: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.PAGINATION_HELPER_TEXT{
  margin-bottom: 0;
  color: $non-active-color;
  font-size: $font-size-small;
}

.PAGINATION_ITEM {
  padding: 0 !important;
  text-align: center !important;
}

.PAGINATION_LINK {
  display: block;
  line-height: 30px;
  width: 100%;
  text-decoration: none !important;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}