.page_layout_button_wrapper{
  margin-top: 8px;
  margin-right: 10px;
}

.page_layout_button_wrapper > button{
  margin-left: 10px;
}

.page_layout_container_right{
  overflow-y: hidden;
  width: 100%; 
}

.page_layout_header_container{
  height: 58px;
  background-color: #fafafa;
}

.page_layout_container{
  display: flex;
}

.page_layout_title{
  position: absolute;
  width: calc(100% - 280px);
  z-index: 2;
  text-align: center;
  margin: 15px;
  font-size: 25px;
}