.PROBLEM_LIST_TABLE_WRAPPER{
  width: 100%;
}

.PROBLEM_LIST_TABLE_TITLE{
  text-align: center !important;
}

.PROBLEM_LIST_TABLE_RESPONSIVE {

}

@media only screen and (max-width: 450px) {
  .PROBLEM_LIST_TABLE_RESPONSIVE {
    display: none;
  }
}