.widget-user{
    height: 60px !important;
}

.widget-user__link a{
    color: #b7c9cc;
}

.widget-user__link a:hover{
    color: #FFFFFF;
    text-decoration: none;
}

.widget-user__avatar {
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.widget-user__link {
    margin-right: 20px;
}

.widget-user__burger, .widget-user__menu-helper {
    display: none;
}

.widget-user__menu a {
    color: #FFFFFF;
}

.widget-user__user__username {
    cursor: pointer;
}