@import '../../styles/base';

img {
    width: 25px;
    height: 25px;
}

.USER_WIDGET_LINK_WRAPPER {
    display: flex;
}

.USER_WIDGET_AVATAR{
    height: 35px;
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

.USER_WIDGET_AVATAR_MENU {
    margin-top: 3px;
}

.USER_WIDGET_LINK {
    margin-left: 40px;
    font-size: 15px;
    font-weight: 500;
    
    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        text-decoration: none !important;
        color: white !important;
    }
}

.USER_WIDGET_BURGER , .USER_WIDGET_MENU_HELPER {
    display: none !important;
}

.USER_WIDGET_MENU a {
    color: black !important;
}

.USER_WIDGET_USERNAME {
    cursor: pointer;
    color: black;
}

.USER_WIDGET_PROFILE {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    line-height: 30px;
    background-color: #f4f5f6;
    svg {
        vertical-align: middle !important;
    }
}

@media only screen and (max-width: 500px) {
    .USER_WIDGET_AVATAR, .USER_WIDGET_AVATAR_MENU, .USER_WIDGET_LINK, .USER_WIDGET_NAVBAR_LINK {
        display: none;
    }

    .USER_WIDGET_BURGER, .USER_WIDGET_MENU_HELPER {
        display: block !important;
        cursor: pointer;
        color: white;
        svg {
            float: left;
        }
    }
}
