@import '../../styles/base';

.USER_WIDGET_LINK_WRAPPER {
    display: flex;
}

.USER_WIDGET_AVATAR{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.USER_WIDGET_AVATAR_MENU {

}

.USER_WIDGET_LINK {
    margin-right: 20px;
    font-size: 0.9 * $font-size;
    a {
        text-decoration: none;
        color: white;
    }
}

.USER_WIDGET_BURGER , .USER_WIDGET_MENU_HELPER {
    display: none;
}

.USER_WIDGET_MENU a {
    color: black !important;
}

.USER_WIDGET_USERNAME {
    cursor: pointer;
}

@media only screen and (max-width: 450px) {
    .USER_WIDGET_AVATAR, .USER_WIDGET_AVATAR_MENU, .USER_WIDGET_LINK, .USER_WIDGET_NAVBAR_LINK {
        display: none;
    }

    .USER_WIDGET_BURGER, .USER_WIDGET_MENU_HELPER {
        display: block;
        cursor: pointer;
        color: white;
        svg {
            float: left;
        }
    }
}
