@import '../../../../../styles/base';

.FORM_LOGIN_WRAPPER {
  display: flex;
}

.FORM_LOGIN_REGISTER {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  font-size: $font-size-small;
}

.FORM_LOGIN_FORGOT_PASSWORD {
  font-size: $font-size-small;
}

.FORM_LOGIN_INPUT {
  margin-top: 12px;
  margin-bottom: 12px;
}

input{
  height: 37px !important;
}

.FORM_LOGIN_BUTTON_LOCK {
  margin-top: 6px !important;
}