@import '../../styles/base';

.CARD_CONTAINER {
  width: inherit;
  margin: 10px;
}

.CARD_TITLE {
  background-color: #fbfbfc !important;
  height: 45px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin-bottom: 1px;
}

.CARD_TITLE_TEXT {
  float: left;
  margin-top: -10px;
  font-size: $font-size-large !important;
  font-weight: 500;
  font-family: Roboto;
}

.CARD_TITLE_ACTION {
  float: right;
  margin-left: 15px !important;
  margin-top: -8px !important;
}

.CARD_CONTENT {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin-bottom: 10px;
}

.CARD_CONTENT_STRICT {
  padding : 0 !important;
}