$primary-color : #39424e;
$secondary_color : #43a047; // hijau tosca ?
$tertiary_color :#3b73b9; // biru tosca ?
$text-color : #252527;
$small-color : #b7c9cc;
$active-color : #ffffff;
$primary-font: 'Open Sans', sans-serif;
$accent-font: 'Roboto', sans-serif;
$font-size: 14px;
$font-size-large: 16px;
$font-size-small: 12px;