.login_form_wrapper {
  padding: 10px;
}

.login_form_user_icon {
  padding: 7px;
}

.login_form_input {
  margin-top: 10px;
}

.login_form_button{
  float : right;
  margin-top: 15px;
  margin-bottom: 10px;
}