@import "../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "../../node_modules/normalize.css/normalize.css";

@import "../styles/_fonts.scss";

body{
  font-family: "Roboto",sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bp3-tab-indicator{
  background-color: #ffffff !important;
  height: 4px !important;
}

.bp3-menu{
  min-width: 280px;
}

.bp3-toast-message {
  margin-top: 5px;
}

.bp3-toast > .bp3-icon {
  margin-top: 17px;
}