.CONTEST_LIST_CONTAINER {
  margin-bottom: 20px !important;
}

.CONTEST_LIST_CONTAINER > :first-child {
  margin-top: -20px;
}

.CONTEST_LIST_CONTAINER > :not(:last-child) {
  border-bottom: 1px solid rgba(16, 22, 26, 0.15);
  margin-bottom: 20px;
}
.CONTEST_LIST_CONTAINER > :last-child {
  margin-bottom: -20px;
}

.CONTEST_LIST_ITEM_CONTAINER {
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.CONTEST_LIST_ITEM_NAME {
  margin-right: 10px;
}

.CONTEST_LIST_ITEM_DATE {
  margin-top: -4px;
}

.CONTEST_LIST_ITEM_CONTAINER:hover {
  background-color: #eef2fb;
}

.CONTEST_LIST_CONTAINER_CONTAINER {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CONTEST_LIST_INFO_CONTAINER {
  display: flex;
  flex-direction: column;
}

.CONTEST_LIST_BUTTON_CONTAINER {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.CONTEST_LIST_TAG {
  margin: 10px;
}