@import '../../styles/base';

.HEADER_NAVBAR {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  height: 64px !important;
  background-color: $primary-color !important;
}

.HEADER_WRAPPER {
  background-color: white;
  margin: 0 auto;
  padding: 0 3.4%;
  min-width: 280px;
  max-width: 1685px;
}

.HEADER_HEADING {
  font-weight: 900;
  font-size: 20px !important;
  font-family: Ubuntu !important;
  a {
    color: white !important;
  }
}

.HEADER_GROUP {
  height: 64px !important;
}

.HEADER_SEARCH_WRAPPER {
  > svg {
    margin: 10px !important;
  }
  > span {
    margin: 3px !important;
  }
}

.HEADER_SEARCH {
  display: block;
}

@media only screen and (max-width: 450px) {
  .HEADER_SEARCH {
    display: none;
  }
}