@import '../../styles/base';

.CARD_SIDEBAR {
  *:focus {
    outline: none !important;
  }

  svg {
    height: 50px !important;
  }

  .CARD_CONTENT {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.CARD_SIDEBAR_ARROW {
  line-height: 50px !important;
  color: $primary-color !important;
  float: right;
  margin-top: -50px;
  margin-right: 10px;
}

.CARD_SIDEBAR_FULL {
  margin: 10px 0 0 10px !important;
  display: block;

}

.CARD_SIDEBAR_RESPONSIVE {
  display: none;
}

.CARD_SIDEBAR_RESPONSIVE_MENU {

}

.CARD_SIDEBAR_DISMISS {
  display: none;
  height: 0;
  transition-property: height, transform, width, -webkit-transform;;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
}

.CARD_SIDEBAR_SHOW {
  display: block;
  height: auto;
  transition-property: height, transform, width, -webkit-transform;;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 1, 0.75, 0.9);
}

@media only screen and (max-width: 750px) {
  .CARD_SIDEBAR_FULL {
    display: none;
  }

  .CARD_SIDEBAR_RESPONSIVE {
    display: block;
    width: 200px;
    height: 30px;
    margin-top: 10px;
  }

  .CARD_SIDEBAR_RESPONSIVE_MENU {
    line-height: 50px;
  }
}
