@import '../../styles/base';

.FOOTER {
  display: flex;
  height: 60px;
  background-color: #39424e;
  width: 100%;
}

.FOOTER_WRAPPER {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  width: inherit;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.FOOTER_FOOTER {
  margin: 0 auto;
  width: 100%;
  padding: 0 3.4%;
  min-width: 270px;
  max-width: $base-width;
}

.FOOTER_SOSMED {
  display: flex;
  margin-left: 16px;
  a {
    margin-right: 8px;
    width: 31px;
    height: 31px;
    cursor: pointer;
    text-decoration: none;
  }
  img {
    height: 30px;
    width: 30px;
  }
}

.FOOTER_RIGHT_TEXT {
  font-size: $font-size-small;
  font-weight: 400;
  color: white;
  margin-bottom: -2px;
  margin-right: 10px;
}

@media only screen and (max-width: 450px) {
  .FOOTER {
    height: 120px;
  }
}