@import '../../styles/base';

.menubar{
  height: 60px;
  display: flex;
  font-family: "Ubuntu";
  font-weight: 700;
}

.menubar_tabs{
  color:$small-color !important;
  height: 60px;
  padding-top: 10px;
}

.menubar_tabs[aria-selected="true"], .menubar_tabs[aria-disabled="false"]:hover {
  color: $active-color !important;
}

.menubar_color-1{
  background-color: #39424e !important;
}

.menubar_color-2{
  background-color: #43a047 !important;
}

.menubar_color-3{
  background-color: #3b73b9 !important;
}