@import '../../../../styles/base';

.welcome_text {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 500;
}

.welcome_icon {
  color: $secondary_color;
  font-size: 30px !important;
  text-align: center;
}

h3 {
  font-size: 18px !important;
  line-height: 9px !important;
  margin: 0 !important;
  margin-bottom: 10px !important;
}