a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
}

.page__container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.page__container h4{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Menubar */

.MENUBAR .bp3-tab-indicator-wrapper .bp3-tab-indicator {
  background-color: #39424e !important;
  top: 63px;
}

.MENUBAR .bp3-tab-indicator-wrapper {
    z-index: 10;
}


@media only screen and (max-width: 450px){
  .MENUBAR .bp3-tab-indicator-wrapper .bp3-tab-indicator {
    background-color: #39424e !important;
    top: 61px;
    position: inherit !important;
  }
}

/* Sidebar */

.CARD_SIDEBAR .bp3-tab-list {
    left: -20px !important;
    width: 270px !important;
}

.bp3-popover-content .bp3-tab-indicator-wrapper .bp3-tab-indicator{
    height: 50px !important;
}

.CARD_SIDEBAR .bp3-tab-indicator {
    background-color: #eef2fb !important;
    border-radius: 0 !important;
    border-left: 3px solid #39424e !important;
}

.CARD_SIDEBAR .bp3-tab {
    padding-left: 20px !important;
    line-height: 50px;
    height: 50px;
}

.CARD_SIDEBAR .bp3-tab[aria-selected="true"] {
    font-weight: bold;
    color: #252527;
}

.CARD_SIDEBAR .bp3-tab[aria-selected="false"] {
    color: #39424e;
}

.CARD_SIDEBAR .CARD_CONTENT {
    padding-top: 0;
    padding-bottom: 0;
}

.CARD_SIDEBAR .CARD_TITLE {
    background-color: white !important;
}

.CARD_CONTENT .bp3-tab-indicator {
    height: auto !important;
    width: 260px;
}

.CARD_TITLE_ACTION svg{
    height: auto !important;
}

@media only screen and (max-width: 750px) {
    .CARD_SIDEBAR_RESPONSIVE .pt-tab-list {
        left: 0;
    }

    .pt-overlay-content {
        top: -10px !important;
    }

    .bp3-tabs.bp3-vertical {
        width: 270px !important;
    }

    .bp3-tab-indicator-wrapper .bp3-tab-indicator {
        height: 3px !important;
    }

    .bp3-tab-list {
        margin-left: 20px !important;
    }
}

/* Theme Color */
/*.bp3-button.bp3-intent-primary {*/
    /*background-color: #39424e !important;*/
/*}*/

/* Toast */
.bp3-toast-message {
    /*margin-top: 5px;*/
    min-width: 100px;
}

/* Form */
.bp3-html-select::after {
    line-height: 40px !important;
}

.FORM_TABLE_INPUT_GROUP .bp3-label {
    margin-bottom: 0 !important;
}

.bp3-select::after {
    top: 12px !important;
}

.bp3-input-group .bp3-input-action {
    right: 0 !important;
}

/* Profile */
.PROFILE_CARD_CONTENT .CARD_CONTENT {
    height: calc(100% - 44px);
    overflow-y: scroll;
}

.PROFILE_CARD_CONTENT .CARD_CONTAINER {
    height: 100%;
}

/* Froala Editor */
.bp3-card > .fr-view{
    margin-top: 20px;
}